* {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  overflow-x: hidden;
}

header p {
  text-transform: uppercase;
  background-color: rgb(255, 123, 0);
  text-align: center;
  padding: 5px;
}

.adi li {
  display: inline;
  text-transform: uppercase;
  padding: 10px;
}

.adi ul {
  text-align: center;
  padding: 5px;
  overflow: hidden;
}

.adi li a {
  text-decoration: none;
  color: white;
}

.adi li a:hover {
  font-weight: bold;
  padding: 2px;
  background-color: rgb(228, 45, 13);
}

.adi {
  background-color: rgb(255, 123, 0);
}

.yup {
  padding: 10px;
  margin: 5px;
  border: 10px rgb(255, 123, 0) solid;
}

footer {
  margin: 10px;
  color: white;
  text-align: center;
  background-color: rgb(255, 123, 0);
  padding: 20px;
}
